/* form san pham */
.left1{
	background: #f5f5f5;
	padding: 10px 20px;
	margin-bottom: 20px;
}
.aleft{
	color: #000;
}
.right1{
	background: #f5f5f5;
	padding: 10px 20px 5px 20px;
	margin-bottom: 20px;
}
.nen1{
	background: #fff;
	margin-top: -15px;
	margin-bottom: 5px;
}
.phantrang{
	margin-left:36%;
}

/* end form san pham */
.spangia5{
	margin-left: 10px;
}
